<!DOCTYPE hibernate-configuration PUBLIC
 "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
 "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
  <session-factory>
    
    <mapping class="pe.gob.pcm.constitucion.web.model.Authorities"/>
    <mapping class="pe.gob.pcm.constitucion.web.model.T001parametro"/>
    <mapping class="pe.gob.pcm.constitucion.web.model.T002secuencia"/>
    <mapping class="pe.gob.pcm.constitucion.web.model.T020tramite"/>
    <mapping class="pe.gob.pcm.constitucion.web.model.T021notaria"/>
    <mapping class="pe.gob.pcm.constitucion.web.model.T022accionista"/>
    <mapping class="pe.gob.pcm.constitucion.web.model.T023aportebien"/>
    <mapping class="pe.gob.pcm.constitucion.web.model.T024cargo"/>
    <mapping class="pe.gob.pcm.constitucion.web.model.T025pernat"/>
    <mapping class="pe.gob.pcm.constitucion.web.model.T026perjur"/>
    <mapping class="pe.gob.pcm.constitucion.web.model.T027perjurrep"/>
    <mapping class="pe.gob.pcm.constitucion.web.model.T028log"/>
    <mapping class="pe.gob.pcm.constitucion.web.model.T029archivo"/>
    <mapping class="pe.gob.pcm.constitucion.web.model.T030inserto"/>
    <mapping class="pe.gob.pcm.constitucion.web.model.T031plantilla"/>
    <mapping class="pe.gob.pcm.constitucion.web.model.T032mandatario"/>
    <mapping class="pe.gob.pcm.constitucion.web.model.T033solicitante"/>
    <mapping class="pe.gob.pcm.constitucion.web.model.Users"/>
    
 

   	
  </session-factory>
</hibernate-configuration>