<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	     http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
						http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
						http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">
	
	<context:property-placeholder location="WEB-INF/jdbc.properties" />
		
	<aop:aspectj-autoproxy /> 
		
	<!-- Transaction -->
	<tx:annotation-driven transaction-manager="txManager"></tx:annotation-driven>
	
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="${jdbc.driverClassName}"/>
        <property name="url" value="${jdbc.url}"/>        
        <property name="username" value="${jdbc.username}"/>        
        <property name="password" value="${jdbc.password}"/>
        <property name="poolPreparedStatements" value="true"/>        
        <property name="initialSize" value="5"/>        
        <property name="maxActive" value="20"/>
        <property name="maxIdle" value="2"/>
        <property name="maxWait" value="2000" />
    </bean>

	<!-- Hibernate SessionFactory -->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource"><ref local="dataSource"/></property>
		<property name="mappingResources">
		<list>
			<value>org/cnl/digemin/bean/perfil.hbm.xml</value>
		 	<value>org/cnl/digemin/bean/persona.hbm.xml</value>
			<value>org/cnl/digemin/bean/auditoria.hbm.xml</value>
			<value>org/cnl/digemin/bean/notaria.hbm.xml</value>
			<value>org/cnl/digemin/bean/colegio.hbm.xml</value>
		</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">${hibernate.dialect}</prop>
				<prop key="hibernate.show_sql">true</prop>
			</props>
		</property>
	</bean>

	<bean id="txManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager"> 
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<!-- SERVICE -->
	<bean name="adminService" class="org.cnl.digemin.service.impl.AdminServiceImpl">
		<property name="auditoriaDAO" ref="auditoriaDAO"/>
		<property name="usuarioDAO" ref="usuarioDAO"/>
	</bean>
	<bean name="ceService" class="org.cnl.digemin.service.impl.CeServiceImpl">
		<property name="auditoriaDAO" ref="auditoriaDAO"/>
	</bean>
	<bean name="colegioService" class="org.cnl.digemin.service.impl.ColegioServiceImpl">
		<property name="colegioDAO" ref="colegioDAO"/>
	</bean>
	<bean name="imagenService" class="org.cnl.digemin.service.impl.ImagenServiceImpl">
		<property name="auditoriaDAO" ref="auditoriaDAO"/>
	</bean>
	<bean name="movimientoService" class="org.cnl.digemin.service.impl.MovimientoServiceImpl">
		<property name="auditoriaDAO" ref="auditoriaDAO"/>
	</bean>
	<bean name="notariaService" class="org.cnl.digemin.service.impl.NotariaServiceImpl">
		<property name="notariaDAO" ref="notariaDAO"/>
	</bean>
	<bean name="pasaporteService" class="org.cnl.digemin.service.impl.PasaporteServiceImpl">
		<property name="auditoriaDAO" ref="auditoriaDAO"/>
	</bean>
	<bean name="perfilService" class="org.cnl.digemin.service.impl.PerfilServiceImpl">
		<property name="perfilDAO" ref="perfilDAO"/>
	</bean>
	<bean name="personaService" class="org.cnl.digemin.service.impl.PersonaServiceImpl">
		<property name="auditoriaDAO" ref="auditoriaDAO"/>
	</bean>
	<!-- DAO -->
	<bean name="auditoriaDAO" class="org.cnl.digemin.DAO.impl.HibAudotoriaDAO">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean name="colegioDAO" class="org.cnl.digemin.DAO.impl.HibColegioDAO">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean name="notariaDAO" class="org.cnl.digemin.DAO.impl.HibNotariasDAO">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean name="perfilDAO" class="org.cnl.digemin.DAO.impl.HibPerfilDAO">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean name="usuarioDAO" class="org.cnl.digemin.DAO.impl.HibUsuarioDAO">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>

	<!-- ========================= BUSINESS OBJECT DEFINITIONS ========================= -->
	<bean name="/ce" class="org.cnl.digemin.action.CeAction">
		<property name="ceService" ref="ceService"/>
		<property name="imagenService" ref="imagenService"/>
		<property name="personaService" ref="personaService"/>
	</bean>
	<bean name="/login" class="org.cnl.digemin.action.LoginAction">
		<property name="adminService" ref="adminService"/>
		<property name="notariaService" ref="notariaService"/>
		<property name="colegioService" ref="colegioService"/>
		<property name="perfilService" ref="perfilService"/>
	</bean>
	<bean name="/movimientos" class="org.cnl.digemin.action.MovimientosAction">
		<property name="ceService" ref="ceService"/>
		<property name="movimientoService" ref="movimientoService"/>
		<property name="personaService" ref="personaService"/>
	</bean>
	<bean name="/notarias" class="org.cnl.digemin.action.NotariasAction">
		<property name="notariaService" ref="notariaService"/>
	</bean>
	<bean name="/clave" class="org.cnl.digemin.action.LoginAction">
		<property name="adminService" ref="adminService"/>
		<property name="notariaService" ref="notariaService"/>
		<property name="colegioService" ref="colegioService"/>
		<property name="perfilService" ref="perfilService"/>
	</bean>	
	<bean name="/admin" class="org.cnl.digemin.action.UsuarioAction">
		<property name="adminService" ref="adminService"/>
	</bean>
	<bean name="/pasaporte" class="org.cnl.digemin.action.PasaporteAction">
		<property name="pasaporteService" ref="pasaporteService"/>
		<property name="imagenService" ref="imagenService"/>
		<property name="personaService" ref="personaService"/>
	</bean>
	
	
		
</beans>