/* ---------------------------------------------------------------------------------
   Austwide Solar - Master Stylesheet
   Author: Pixel House
   Website: www.pixel-house.com.au
--------------------------------------------------------------------------------- */
body { 
	margin: 0; padding: 0; font-family: arial, helvetica, sans-serif;
	background-color:#34497E;
	background-image:url("../img/fondo.JPG") ;
	background-repeat:repeat-x;
	background-position:top;
	color: #FFFFFF;
}
#principal{margin: 0 auto;	width: 800px;}
/*#banners { float: center; width: 100%; height: 197px; overflow: hidden; }*/
#banners { float: center; width: 100%; height: 200px; overflow: hidden; }
#banners h1, #banners h2 { display: none; }
#banners .intro { font-size: 1.1em; line-height: 1.2em; margin: 0 0 15px 0; }
#cuerpo{
	padding: 15px 15px 15px 15px;
	background-image:url("../img/cuerpoMeca.png") ;
	background-repeat:repeat-y;
	background-position:top;
	color: #FFFFFF;
}
h1,h2,h3 {
	color: #654;
	padding-top: 6px;
}
h1 { font-size: 27px; text-transform: uppercase; color: #287da6; margin: 0; line-height: 1.0em; }
h2 {  font-size: 1.0em; margin: 0 0 3px 0; }
h3 { font-size: 0.75em; margin: 0 0 2px 0; }
h5, h6 { color: #d98234; font-size: 0.7em; margin: 0 0 2px 0; }
h5 a, h6 a { color: #d98234; }
h4 { color: #d98234; font-size: 0.75em; line-height: 1.35em; font-weight: bold; margin: 0 0 1.0em 0; }
h4 a { color: #756c5e; }
p { font-size: 0.75em; margin: 0 0 1.35em 0; color: #333; line-height: 1.4em; }
a { color: #d77f37; }
a:hover { color: #287da6; }
ul, ol { margin: 0 0 1.35em 0; padding: 0; }
ul li { list-style-type: none; }
ul li, ol li { font-size: 0.75em; color: #756c5e; line-height: 1.4em; }
ol { margin-left: 18px; }
ol ol { margin-left: 27px; font-size: 1.3em; }
ol li { padding-left: 10px; }
ol ol li { list-style-type: upper-alpha; }
ol p { font-size: 1.0em; }
ol ol ol { font-size: 1.5em; }
ol ol ol li { list-style-type: upper-roman; line-height: 1.2em; }
a img { border: none; }
hr { display: none; }
table { border-collapse: collapse; }
table td { vertical-align: top; padding: 10px 20px 0 0; font-size: 1.0em; color: #333;}
.bold { font-weight: bold; }
.hide { display: none; }
.lista table td,th{font-size:10px; text-align:center; vertical-align:middle;}
.lista table th{
	background-color:#036;
}
.lista table td{
	background-color:#FFF;
}
fieldset{
	border-color: #FFFFFF;
	background-color: #FFF;
}
.boton{
   font-size:11px;
	font-family:Arial;
	font-weight:bold;
	color:white;	
	background:#A8B393;
	border:0px;	
	height:22px;
}
#wrapper-wrap { float: left; width: 100%; background: url(../img/bg.jpg) no-repeat center 0 #01a8cb; min-width: 990px; }
#wrapper { width: 990px; margin: 0 auto; }
#header { width: 940px; height: 140px; margin: 0 25px; display: inline; float: left; background: url(../img/slogan.gif) no-repeat right 43px; }
#header #logo { float: left; margin: 44px 0 0 0; }
#main { float: left; width: 940px; margin: 0 25px; display: inline; background: url(../img/main-bg.gif) repeat-y 0 0 #fff; min-height: 500px; }
#footer-wrap { float: left; width: 100%; background: url(../img/footer-bg.gif) repeat-x 0 0; }
#footer { margin: 0 auto; width: 940px; }
#orange-bar { float: left; margin: 0 25px; width: 940px; display: inline; height: 6px; overflow-y: hidden; background: url(../img/bg.jpg) no-repeat center -187px #f0922b; }
#right { float: right; width: 590px; padding: 28px 35px 35px 35px; background: url(../img/right-bg.jpg) no-repeat right 0; }
#left { float: left; width: 280px; padding: 0 0 35px 0; background: url(../img/main-bg.gif) repeat-y 0 0 #008dab; min-height: 440px; }
/* ---------------------------------------------------------------------------------
   NAVIGATION
--------------------------------------------------------------------------------- */
#nav { margin: 0; padding: 0; float: center; width: 800px; display: inline;  }
#nav ul { margin: 0; padding: 0; float: center; }
#nav ul li { float: left; padding: 0; font-weight: bold; position: relative; z-index: 999; background: url(../img/boton.PNG) ;width: 157px;} 
#nav ul li a { float: left; padding: 16px 16px 0 16px; height: 30px; color: #fff; text-decoration: none; }
#nav ul li:hover a, #nav ul li a:hover { color: #ffc208; }
#navigation li:hover ul, li.over ul { display: block; }
#navigation li ul { margin: 0 0 0 0; padding: 4px 0; width: 157px; z-index: 999; }
#navigation li ul li { padding: 0 3px; width: 157px; font-size: 1.0em; background: url(../img/subul-shadow.png) repeat-y 0 0; }
#navigation li ul li a { background: #f1932b; text-decoration: none; padding: 10px 20px; height: auto; width: 157px; text-align: center; border-top: solid 1px #fdbf09; color: #fff!important; text-transform: none; }
#navigation li ul li:hover a { color: #fff; }
#navigation li ul li.govn a { background: #df841d; }
#navigation li ul li a:hover { background: url(../img/subul-a-hover.gif) repeat-y 0 0 #f39b25; color: #fff; }
.subuls { display: none; position: absolute; top: 40px; left: -9px; z-index: 999; }
#n02 ul { background: url(../img/subul-arrow.gif) no-repeat center 0; left: -15px; }
#n03 ul { background: url(../img/subul-arrow.gif) no-repeat center 0; left: -15px; }
#n04 ul { background: url(../img/subul-arrow-04.gif) no-repeat center 0; left: -23px; }
#n05 ul { background: url(../img/subul-arrow-05.gif) no-repeat center 0; left: -53px; }
#n06 ul { background: url(../img/subul-arrow-06.gif) no-repeat center 0; left: -25px; }
#n07 ul { background: url(../img/subul-arrow-06.gif) no-repeat center 0; left: -25px; }
#nav #n01 a { padding-left: 0px; }
/* ---------------------------------------------------------------------------------
   RIGHT
--------------------------------------------------------------------------------- */
#breadcrumbs { margin: 0 0 25px 0; font-size: 0.7em; color: #d77f37; }
#breadcrumbs a { text-decoration: none; }
#breadcrumbs a:hover { text-decoration: underline; }
#right ul li { background: url(../img/icon-arrow.gif) no-repeat 0 4px; padding-left: 15px; }
#right .dividers { border-top: solid 1px #d9d3c5; border-bottom: solid 1px #d9d3c5; padding: 25px 0 10px 0; margin: 10px 0 30px 0; float: left; width: 100%; }
#right .topdivider { border-top: solid 1px #d9d3c5; padding-top: 25px; margin-top: 25px; width: 100%; clear: both; }
#right .btmdivider { border-bottom: solid 1px #d9d3c5; padding-bottom: 25px; width: 100%; clear: both; }
#right .btm-margin { margin-bottom: 20px; }
#right .btm-margin2 { margin-bottom: 15px; }
#right h3.btm-margin { margin: 0 0 1.0em 0; }
#right .top-margin, #right .topMargin2 { padding-top: 10px; }
#right .orange { color: #d98234; font-weight: bold; }
#right .ticks li { background: url(../img/icon-tick.gif) no-repeat 0 1px; padding-left: 25px; }
#right .center { text-align: center; }
#right .graphic-right { float: right; width: 300px; margin: -30px 0 0 0; }
#right .infographic { border: solid 1px #f29926; margin: 0; }
#right .infographic-padd { border: solid 1px #f29926; margin: 0 0 20px 0; text-align: center; padding: 25px 0; }
#right .infographic-padd2 { border: solid 1px #f29926; padding: 10px; }
#right .infographic-padd .desc { margin: 0; }
#right .desc { width: 100%; margin: -20px 0 30px 0; background: #f29926; font-weight: bold; color: #fff; font-size: 0.7em; padding: 10px 15px; width: 560px; text-align: center; }
#right .alignleft { text-align: left; }
#right .circle-nums td { padding: 0 20px 10px 0; }
#right .circle-connector { background: url(../infographics/circle-connector.gif) repeat-y 26px 0; }
#right fieldset { background: #fff6dd; float: left; padding: 34px 24px 20px 24px; width: 540px; border: solid 1px #cbc3af; margin: 15px 0; }
#right fieldset h4 { float: left; width: 100%; color: #287da6; text-transform: uppercase; margin-bottom: -19px; }
#right fieldset p { float: left; width: 100%; margin: 0 0 10px 0; position: relative; }
#right fieldset label { float: left; width: 130px; text-align: right; padding: 4px 20px 0 0; color: #287da6; }
#right fieldset label .required { position: absolute; top: 10px; left: 495px; }
#right fieldset .fieldBox, #right fieldset .commentBox { float: right; border: solid 1px #c9c1ac; width: 380px; padding: 4px; font-family: arial, helvetica, sans-serif; font-size: 13px; color: #595349; }
#right fieldset .fieldBox:focus, #right fieldset .commentBox:focus  { border: solid 2px #d98234; padding: 3px; }
#right fieldset .selectBox { float: left; border: solid 1px #c9c1ac; padding: 3px; font-family: arial, helvetica, sans-serif; font-size: 13px; color: #595349; }
#right fieldset .topBorder { border-top: solid 1px #cbc3af; padding-top: 35px; margin-top: 10px; }
#right fieldset .noMargin { margin: 0; }
#right fieldset .submit { text-align: right; }
#right fieldset .topMargin { margin-top: 25px; }
#right fieldset .error { color: #a70000; font-weight: bold; font-size: 0.7em; text-transform: uppercase;  }
#right #error, #right #successful { background: #a70000; color: #fff; text-align: center; padding: 8px 0; font-weight: bold; margin: 0 0 20px 0; }
#right #successful { background: #4aa91b; }
#right fieldset .copyme { margin-left: 150px; }
#right fieldset .sendmessage { margin-top: -25px; }

#right #freeconsult label { width: 240px; }
#right #freeconsult .fieldBox, #right #freeconsult .commentBox { width: 270px; }
#right #freeconsult .fieldReq { width: 215px; margin-right: 55px; display: inline; }

#right #contactform { padding-top: 25px; }
#right #contactform label { width: 194px; }
#right #contactform .fieldBox { width: 261px; margin-right: 55px; display: inline; }
#right #contactform .commentBox { width: 316px; }

#right #spread-word .commentBox { padding: 8px; width: 372px; }
#right #spread-word .commentBox:focus { padding: 7px; }

#right #joinnow { padding: 24px 24px 15px 24px; }
#right #joinnow label { width: 180px; padding-right: 20px; }
#right #joinnow .fieldBox { width: 330px; }
#right #joinnow .postcode { width: 80px; float: left; }
#right #joinnow .phone { width: 160px; float: left; }
#right #joinnow .submit { float: right; width: 85px; margin-top: -32px; }
#right #joinnow .terms { border-top: solid 1px #cbc3af; padding-top: 25px; margin-top: 25px; }

#right .pdf { background: url(../img/icon-pdf.gif) no-repeat 0 0; padding: 3px 0 3px 28px; }
#right .callout { text-align: center; border: solid 1px #d3bda1; background: #f2ddc3; padding: 10px 0; }

/* #right #consultation { float: left; width: 100%; border: solid 1px #cebc9a; background: #f2e0bd; padding: 25px; width: 538px; }
*/
#right #consultation fieldset { padding-top: 70px; padding-bottom: 5px; background: url(../img/statements/how-much-could-you-be-saving.gif) repeat-x center 0 #fff6dd; }
#right #consultation h3 { font-size: 1.0em; text-transform: uppercase; text-align: center; margin: 0 0 20px 0; }
#right #consultation p .fieldBox { width: 195px;  }
#right #consultation .left { float: left; width: 444px; }
#right #consultation label { width: 230px; text-align: left; color: #756c5e; padding-top: 5px; padding-right: 0; }
#right #consultation .submit { float: right; width: 86px; }
#right #consultation .submit input { margin: -3px 0 0 0;  }
#right #consultation #successful { text-align: center; }

#solarparty #right { width: 490px; padding: 28px 135px 135px 35px; background: url(../img/bg-solarparty.jpg) no-repeat right 0; }

#faq #right h3 { border-top: solid 1px #d9d3c5; padding-top: 15px; }
#faq #right h2 { margin: 0 0 10px 0; }
#faq .linkbox { background: url(../img/faq-bg.jpg) no-repeat right 0 #fff6dd; border: solid 1px #cbc3af; padding: 24px 24px 5px 24px; margin: 0 0 30px 0; }
#faq .linkbox p { border-top: solid 1px #cbc3af; padding-top: 15px; }
#faq .linkbox ol { margin-left: 25px; }
#faq .linkbox li { color: #d77f37; }
#faq .linkbox li a { color: #756c5e; }
#faq .linkbox a { text-decoration: none; }
#faq .linkbox a:hover { color: #d77f37; text-decoration: underline; }

#right .contact-table { width: 100%; margin: 0 0 1.0em 0; }
#right .contact-table p, #right .contact-table h4 { margin: 0; }
#right .contact-table td { padding: 0 30px 0 0; }
#right .contact-width { width: 210px; }

#right .img-right { border: solid 1px #ccc; padding: 5px; float: right; margin: 0px 0 10px 20px; }
#right .img-right img { float: right; clear: both; }
#right .img-right span { float: left; clear: both; color: #756c5e; padding: 5px 0 0px 0; font-size: 0.7em; }
#right .align-right { float: right; margin: 0 0 10px 20px; }
#right .sm-txt { font-size: 0.9em; font-weight: normal; }

#right .img-right2 { border: solid 1px #f29926; float: right; margin: 0px 0 10px 20px; }
#right .img-right2 img { float: right; clear: both; margin: 10px; background: #fff; }
#right .img-right2 span { float: left; width: 100%; clear: both; color: #fff; padding: 5px 0; text-align: center; font-size: 0.7em; background: #f29926; font-weight: bold; }
#right .imgCenter { text-align: center; }

#right .table-color { font-size: 0.8em; width: 100%; margin: 0 0 20px 0; }
#right .table-color th, #right .table-color td { background: #fff6dd; border-bottom: solid 2px #fff; padding: 5px 7px; }
#right .table-color th { background: #287da6; color: #fff; text-align: left; padding: 7px 7px; font-size: 0.8em; text-transform: uppercase; }
#right .table-color .odd td { }
#right .table-color .max-size { width: 70px; }
#right .table-color .rate { width: 80px; }
#right .table-color .highlight, #right .table-color .odd .highlight { background: #eae0c3; }
#right .table-color th.highlight { background: #175d89; }
#right .table-color tr:hover td { background: #eae0c3; }

#right #neighbourhood-content { float: left; width: 538px; padding: 30px 25px; border-left: solid 1px #05b002; border-right: solid 1px #05b002;  }
#right #display-home-content { float: left; width: 538px; padding: 30px 25px; border-left: solid 1px #f29926; border-right: solid 1px #f29926;  }

#right .display-home-table { margin: 0 0 1.4em 0; }
#right .display-home-table td { font-size: 0.75em; color: #d98234; padding: 2px 35px 2px 0; }

#right #display-home-form { margin: 0 0 1.4em 0; padding: 5px 0 0 0; border: none; background: none; }
#right #display-home-form label { text-align: left; color: #d98234; width: 70px; padding-right: 0; }
#right #display-home-form p { margin: 0 0 3px 0; }
#right #display-home-form .fieldBox { width: 210px; float: left; padding: 2px; }
#right #display-home-form .fieldBox:focus { padding: 1px; }
#right #display-home-form label .required { position: absolute; top: 10px; left: 300px; }
#right #display-home-content .btmdivider { margin-bottom: 25px; }

/* ---------------------------------------------------------------------------------
   LEFT
--------------------------------------------------------------------------------- */

#left p { color: #fff; }
#left h4 { color: #fff; margin: 0 0 15px 0; text-transform: uppercase; font-size: 1.1em; }

#left .callout { background: url(../img/left-shade.jpg) no-repeat 0 0; padding: 35px 25px; width: 230px; float: left; }
#left .btn { margin-left: -3px; }
#left .imgreplace { width: 100%; }
#left .imgreplace span { display: none; }
#left .yellow { color: #ffc208; font-weight: bold; }

#subnav { float: left; width: 100%; padding-top: 35px; }
#subnav h4 { float: left; width: 100%; height: 14px; background-position: 25px 0; margin: 0 0 12px 0; color: #00a4c8; text-transform: uppercase; }
#subnav h4 span { display: none; }
#subnav ul { margin: 0; padding: 0; border-top: solid 1px #39adc0; float: left; width: 100%; }
#subnav ul li { float: left; padding: 0; float: left; width: 100%; }
#subnav ul li a { color: #bbfff9; border-bottom: solid 1px #39adc0; padding: 10px 25px; width: 230px; float: left; text-decoration: none; }
#subnav ul li a:hover { background: #00a0c2; }
#subnav ul li.govn a { font-weight: bold; color: #ffc208; }

#subnav .internal-ul { border-bottom: solid 1px #39adc0; padding-bottom: 20px; border-top: none; padding-top: 10px; }
#subnav .internal { font-size: 0.7em;  }
#subnav .internal a { padding: 1px 25px 1px 25px; width: 230px; border: none; }
#subnav .shift { text-indent: 8px; }
#subnav li h3 { color: #fff; font-weight: bold; font-size: 1.0em; padding: 10px 25px 1px 25px; width: 230px; float: left; }
#subnav h3.arrow { background: url(../img/icon-downarrow.gif) no-repeat 25px 15px;  }

#subnav ul .active a, #subnav ul .active a:hover,
.sub01 #subnav ul #sub01 a,
.sub02 #subnav ul #sub02 a,
.sub03 #subnav ul #sub03 a,
.sub04 #subnav ul #sub04 a,
.sub05 #subnav ul #sub05 a,
.sub06 #subnav ul #sub06 a,
.sub07 #subnav ul #sub07 a,
.sub08 #subnav ul #sub08 a
{ background: url(../img/subnav-active.gif) repeat-y 0 center #176792; color: #fff; }


#h4-aboutus { background: url(../img/h4-aboutus.gif) no-repeat 0 0; }
#h4-residential { background: url(../img/h4-residential.gif) no-repeat 0 0; }
#h4-commercial { background: url(../img/h4-commercial.gif) no-repeat 0 0; }
#h4-freeconsultation { background: url(../img/h4-freeconsultation.gif) no-repeat 0 0; }
#h4-customercentre { background: url(../img/h4-customercentre.gif) no-repeat 0 0; }
#h4-contact { background: url(../img/h4-contact.gif) no-repeat 0 0; }
#h4-government { background: url(../img/h4-government.gif) no-repeat 0 0; height: 54px!important; }

#co-displayhome { background: url(../img/callouts/displayhome.gif) no-repeat 0 0; height: 54px; }
#co-member { background: url(../img/callouts/member.gif) no-repeat 0 0; height: 35px; }
#co-gogreen { background: url(../img/callouts/gogreen.gif) no-repeat 0 0; height: 35px; }
#co-freequote { background: url(../img/callouts/free-consult-2.gif) no-repeat 0 0; height: 54px; }

#left #green { background: url(../img/callouts/leaf.jpg) no-repeat 0 0; }
#left #green p { width: 170px; }

#left fieldset { border: none; padding: 0; margin: 0; width: 100%; }
#left fieldset p { float: left; width: 100%; }
#left fieldset .fieldBox { float: left; width: 136px; margin-left: -3px; padding: 5px 4px; font-family: arial, helvetica, sans-serif; font-size: 13px; color: #595349; border: solid 3px #00718a; background: #f0e5c6; }
#left fieldset .submitB { float: right; margin-right: -5px; }
#left fieldset .fieldBox:focus { background: #fff; }


/* ---------------------------------------------------------------------------------
   HOMEPAGE
--------------------------------------------------------------------------------- */

#homepage #main { min-height: 100px; position: relative; z-index: 100; padding: 0 25px 35px 25px; margin: 0; background: url(../img/home/banner-shadow.gif) no-repeat 0 307px; }
#homepage #footer-divider { display: none; }



.panel { float: left; width: 940px; height: 325px; }
#b01 { background: url(../img/banners/banner-01.jpg) no-repeat 0 0 #fff; width: 400px; padding: 135px 505px 0 35px; height: 190px; }
#b01 p { margin: 0 0 23px; }
#b01 .btn { margin-left: -2px; }
#b02 { background: url(../img/banners/banner-02.jpg) no-repeat 0 0 #fff; width: 420px; padding: 135px 35px 0 485px; height: 190px; text-align: right; }
#b02 p { margin: 0 0 15px 0; }
#b03 { background: url(../img/banners/banner-03.jpg) no-repeat 0 0 #fff; width: 400px; padding: 135px 505px 0 35px; height: 190px; }
#b03 p { margin: 0 0 23px; }
#b03 #btn { margin-left: -2px; }
#b03 #btn2 { margin-left: 10px; }


.stripViewer { /* This is the viewing window */
    position: absolute;
    overflow: hidden;
    margin: auto;
    width: 940px; /* Also specified in  .stripViewer .panelContainer .panel  below */
    height: 325px;
    clear: both;
    z-index: 100;
    left: 0px; top: 67px;
}

.stripViewer .panelContainer { /* This is the big long container used to house your end-to-end divs. Width is calculated and specified by the JS  */
    position: relative;
    left: 0; top: 0;
    width: 100%;
    list-style-type: none;
    z-index: 100;
    /* -moz-user-select: none; // This breaks CSS validation but stops accidental (and intentional - beware) panel highlighting in Firefox. Some people might find this useful, crazy fools. */
}
.stripNav { display: none; }

.stripNavL a, .stripNavR a { width: 50px; height: 50px; text-indent: -5000px; display: block; position: absolute; top: 135px; z-index: 600; outline: none; }
.stripNavL a { background: url(../img/home/arrow-left.png) no-repeat 0 0; float: left; left: 0px; }
.stripNavR a { background: url(../img/home/arrow-right.png) no-repeat 0 0; float: right; left: 940px; }
.stripNavL a:hover, .stripNavR a:hover { background-position: 0 -50px; cursor: hand; cursor: pointer; outline: none; }

#callouts { float: left; width: 100%; padding: 35px 0 0 0; }
#callouts p { color: #fff; }
#callouts h3 { display: none; }
#callouts .more { margin-left: -4px; }
#callouts .callout { width: 240px; height: 221px; float: left; background-color: #008ba9; padding: 0 15px 0 25px; }
#callouts .yellow { color: #ffc208; font-weight: bold; }

#callout1 { background: url(../img/home/callout-01.gif) no-repeat 0 0; }
#callout1 p { padding-top: 92px; }
#callout2 { background: url(../img/home/callout-02.gif) no-repeat 0 0; }
#callout2 p { padding-top: 76px; width: 200px; }
#callout3 { background: url(../img/home/callout-03.gif) no-repeat 0 0; }
#callout3 p { padding-top: 76px; }

.callout-divider { background: url(../img/home/callout-divider.gif) no-repeat 24px 0; float: left; width: 50px; height: 221px; }
.callout-divider2 { background: url(../img/home/callout-divider-02.gif) no-repeat 0 0; float: left; width: 50px; height: 221px; }


/* ---------------------------------------------------------------------------------
   FOOTER
--------------------------------------------------------------------------------- */
/* footer */
.footer {
	background: #958463 url(../img/bgfooter.gif) repeat-x;
	color: #FED;
	font-size: 1.1em;
	line-height: 40px;
	margin: 0 auto;
	text-align: center;
	width: 800px;
}
.footer a {
	color: #FFD;
	text-decoration: none;
}
.footer a:hover {
	color: #FFF;
	text-decoration: underline;
}

/*---------------------------------
\ TABLAS
-------------------------------------*/
TABLE.tFormulario{   
	background-color:#FFFFFF;
    FONT-FAMILY: Tahoma, 'Microsoft Sans Serif', Arial;
    BORDER-BOTTOM: #afc4d5 4px solid;
    BORDER-RIGHT: #afc4d5 4px solid;
    BORDER-LEFT: #afc4d5 1px solid;
	BORDER-TOP: #FFFFFF;
}
TABLE.tFormulario TH{
    color:#003366; 
    font-weight:bold;
	text-align:right;
}
TABLE.tFormulario td{
	text-align:left;
	BORDER-BOTTOM:#FFFFFF;
}
TABLE.tFormulario TD,TABLE.tFormulario TH{
    BORDER-TOP: #afc4d5 1px solid;
    FONT-SIZE: 11px;
    BORDER-LEFT: #FFFFFF;
    BORDER-RIGHT: #FFFFFF;	
	padding-top:3px;
	padding-bottom:5px;
	padding-left:5px;
	padding-right:5px;
}