<!DOCTYPE hibernate-configuration PUBLIC
 "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
 "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
  <session-factory>
    
    
   	<mapping class="pe.gob.mininter.entities.SiminSistema"/>
   	<mapping class="pe.gob.mininter.entities.SiminMaestro"/>
   	<mapping class="pe.gob.mininter.entities.SiminTipousuario"/>
   	<mapping class="pe.gob.mininter.entities.SiminUnidadorganica"/>
   	<mapping class="pe.gob.mininter.entities.SiminUsuariosistema"/>
   	
   	<mapping class="pe.gob.mininter.entities.SiminGrado"/>
   	<mapping class="pe.gob.mininter.entities.SiminFunciones"/>
   	<mapping class="pe.gob.mininter.entities.SiminDirectorio"/>
   	
  </session-factory>
</hibernate-configuration>