@charset "utf-8";
/* CSS Document */
@charset utf-8;
html{font-size:125%}
body{font-size:.7em;background-color:#F7F7F7;height:100%;margin:0;padding:0}
body,input,textarea,select{font-family:"lucida grande", "Segoe UI", arial, verdana, "lucida sans unicode", tahoma, sans-serif;color:#444;font-weight:400}
*{cursor:auto}
a,a *{cursor:pointer;outline:none}
a{color:#333}
a img{border:0}
:focus{outline:none}
h1,h2,h3,h4,h5{line-height:1.6em;margin:0 0 1em}
p{line-height:1.6em;margin:0 0 1em; text-align:justify}
wbr:after{content:"\00200B"}
form{margin:0;padding:0}
div#main-container{min-height:600px;background:#F7F7F7;width:866px;margin:0 auto;padding:5px 0 0}
.clearfix:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0}
.clearfix{display:inline-block}
html[xmlns] .clearfix{display:block}
* html .clearfix{height:1%}
#header{background-color:#333; margin:0;padding:20px 0}
#header #topnav{float:right;display:inline;width:200px;margin:0 20px 0 0;padding:0}
#header #topnav ul{display:inline;font-size:.8em;list-style:none;padding-left:0;margin:0}
#header #topnav li{list-style:none;display:inline}
#header #topnav li a,#header #topnav li strong{font-size:.8em;display:block;float:left;color:#FFF;margin:3px 0 3px 6px;padding:3px 0 6px 3px}
#topnav li a:hover{text-decoration:underline}
#logo{margin-left:20px}
#tabs-container{min-height:29px;_height:29px;border-bottom:1px solid #000;background-color:#408238;color:#FFF;padding-top:10px}
#tabs{margin:0 0 0 254px;padding:0}
.tab{float:left;list-style:none;border:1px solid #ace;background-color:#f4faff;margin:0 4px -1px 0}
.tab a{display:block;font-size:.95em;min-height:1.1em;font-weight:700;position:relative;border-top:1px solid #fff;padding:7px 11px}
.tab a:hover{text-decoration:none}
.tab .tab-icon{padding-right:5px;background-color:#f4faff;margin:0 0 -4px}
.tab.selected{background-color:#F7F7F7;border-bottom:1px solid #fff;_position:relative}
.tab.selected a{color:#222;background-color:#F7F7F7}
.tab.selected .tab-icon{background-color:#fff}
h1,h2,h3,h4,h5{color:#222}
h1{font-size:1.6em;font-weight:400;margin:10px 0}
h2{font-size:1.4em;margin:0;padding:0}
h3{font-size:1.2em;margin:0;padding:0}
h4{font-weight:700;font-size:1em;margin:0 0 .5em}
h5{font-weight:700;font-size:.8em;margin:0 0 .5em}
#content{padding-bottom:1em;margin-bottom:3em;min-height:550px}
#full-content{padding-top:30px}
#left-content{background:none repeat scroll 0 0 #EBEBEB;border:1px solid #D3D3D3;float:left;min-height:515px;position:relative;width:190px;padding:20px}
#right-content{float:right;position:relative;width:606px}
#left-content .sider{padding-bottom:2em}
#left-content .sider h2{background:none repeat scroll 0 0 transparent;font-size:.9em;margin-bottom:4px;padding-bottom:10px;padding-top:3px}
#left-content .sider img{vertical-align:middle;background-color:transparent;margin:-3px 0 0}
ul.navlist{margin:0;padding:0 0 0 30px}
ul.navlist li{list-style:square;margin:0;padding:0}
ul.navlist a{display:block;font-size:.9em;margin:0;padding:3px 0}
#right-content .emo{background:#EBEBEB;border:1px solid #D3D3D3;padding:20px}
#right-content .verytop{display:block;margin-bottom:2em;position:relative;z-index:1}
#footer{background-color:#F7F7F7;clear:both;min-height:65px;margin:0;padding:0}
#footer #copyright{color:#AAA;font-size:.8em}
.clear{clear:both}
.center{text-align:center}
.clean{margin:0;padding:0}
.link-img{vertical-align:middle;background-color:transparent;padding-right:4px;margin:-2px 0 0}
.left{margin-top:5px;text-align:right}
